VITE_BACKEND_URL=http://localhost:3000
VITE_SHOW_ANIMATION=true

VITE_DEMO_BUYER_EMAIL=your_demo_buyer_email
VITE_DEMO_BUYER_PASSWORD=your_demo_buyer_password

VITE_DEMO_PUBLISHER_EMAIL=your_demo_publisher_email
VITE_DEMO_PUBLISHER_PASSWORD=your_demo_publisher_password

VITE_DEMO_MANAGER_EMAIL=your_demo_manager_email
VITE_DEMO_MANAGER_PASSWORD=your_demo_manager_password
