PORT=3000
# LOG_LEVEL=debug

JWT_EXPIRES_IN=1d
JWT_SECRET=your_jwt_secret

CLIENT_URL=http://localhost:5173
GOOGLE_CLIENT_ID=your_google_oauth_client_id

USER_EMAIL=your_gmail_address
USER_APP_PASSWORD=your_gmail_app_password

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# MONGODB_URI=mongodb://127.0.0.1:27017/PubliShelf
MONGODB_URI=your_mongodb_connection_string
REDIS_URL=your_redis_connection_string

STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret
